

.footer{
    background-color: #4a4a4a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 10px;
    
   

}


.button_arrow{
    background-color: white;
    display: inline-block;
    padding: 20px;
    width: 70px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 100px;
    box-shadow: 3px 4px 12px 1px rgb(0, 0, 0, 0.25);
    transform: translateY(-50px)
    
}

.nav{
    margin-bottom: 10px;

}

.nav_content {
    list-style: none;
    margin: 10px;
    transform: translateY(-30px);
    gap: 10px;
     
}

.nav_social{
    list-style: none;
    margin: 10px;
    gap: 10px;
}


.nav_content a{
    text-decoration: none;
    color: white;
    :hover{
        color: white;
    }
}

.nav_social a{
    text-decoration: none;
    color: white;
}





@media(min-width:768px){
    .nav{
        display: flex;
        flex-direction: row;
        gap: 90px;
        justify-content: space-between;
        padding-bottom: 20px;
        margin-left: 50px;
       
        .nav_content{
            order: 2;
            margin: 10px 20px;
            
        }
        .nav_social{
            order: 3;
        }
    }
    
}




 @media(min-width:1024px){}