
.header {
  background-color: #6c933e;
  display: inline-block;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 12%;
  z-index: 1000;
  

}

.hamb{
  font-size: 24px;

}


@media(min-width:768px){

  .header{
    width: 7%;

  }


}


@media(min-width:1024px){

  .header{
    width: 4%;
    
  }

}