
.background-section{
    background-image: url('../images/cover.jpeg');
    color: white;
    background-position: right;
    background-repeat: no-repeat;
    transform: translateY(-50px);
       
}

 .container1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    gap: 30px;
    &_tittle{
        font-family: $roboto-slab;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        
    }
    &_par{
        font-family: $roboto-regular;
        font-size: 16px;
        padding: 30px
    }

    &_button{
        background-color: white;
        display: inline-block;
        padding: 20px;
        width: 70px;
        margin-bottom: 10px;
        text-align: center;
        border-radius: 100px;
        box-shadow: 3px 4px 12px 1px rgb(0, 0, 0, 0.25);
        transform: translateY(6px)
    }

 }



 @media(min-width:768px){

    .background-section{
        background-size: cover;
    }



    .container1_tittle{
        font-size: 70px;

        
    }

    .container1_par{
        font-size: 30px;
        text-align: center;
        width: 600px;
        margin-bottom: 50px;
        
    }

    .container1_button{
        transform: translateY(-90px);
        
    }
 }


 @media(min-width:1024px){

    .container1{
        gap: 0;
    }

    .container1_par{
        width: 800px;
    }

    .container1_button{
        transform: translateY(-40px);
    }



 }