
.content{
    background-color: #d9e4cc;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.title_cards{
    display: flex;
    flex-direction: column;
    margin: 35px;
    gap: 2px;
    font-family: $roboto-slab;
    text-align: center;
    font-weight: bold;
    

    &-h2{
        color: #626262;
        padding-bottom: 20px;
        font-size: 20px;
    }
    &-h3{
        font-size: 25px;
        

    }
}

.cards{ 
    display: flex;
    flex-direction: column;
    gap: 35px;

    &_article{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
       
       
   
    }
}



.image_card{
    width: 50%;
    border-radius: 50%;
    box-shadow: 3px 4px 12px 1px rgb(0, 0, 0, 0.25); 
   

}

.name_image{
    font-family: RobotoSlab;
    font-weight: bold;
    font-size: 25px;
}


.button_start{
     background-color: #6c933e;
     font-family: Roboto;
     color: white;
     display: inline-block;
     padding: 25px;
     width: 250px;
     margin-left: 75px;
     margin-bottom: 50px;
     text-align: center;
     text-decoration: none;
     font-size: 20px;
     border-radius: 60px;

}



@media(min-width:768px){
    .cards_only{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .button_start{
        margin-left: 250px;
        margin-bottom: 60px;
    }


}


 @media(min-width:1024px){}