
<section class="content">
    <div class="title_cards">
        <h2 class="title_cards-h2">¡Preparalos con tus marcas favoritas!</h2>
        <h3 class="title_cards-h3">VUELTA AL COLE</h3>
    </div>

    <div class="cards">
        
            <div class="cards_only">
                <article class="cards_article" >
                    <img class="image_card" src="./images/lpbts-mod05-img01-desk.png" alt="">
                    <h4 class="name_image" >Mochilas escolares</h4>
                </article>
                <article class="cards_article" >
                    <img class="image_card" src="./images/lpbts-mod05-img04-mob.png" alt="">
                    <h4 class="name_image" >Estuches</h4>
                </article>
                <article class="cards_article" >
                    <img class="image_card" src="./images/lpbts-mod05-img03-mob.png" alt="">
                    <h4 class="name_image" >Bolsas de deporte</h4>
                </article>
            </div>

            <a href="" class="button_start">Empezar ahora</a>

            
    </div>
    
    
    

</section>