<footer class="footer">
    <a href="" class="button_arrow"><img class="button_arrow-image" src="./images/ico-arrow.svg" alt=""></a>

        <nav class="nav">
            <ul class="nav_content">
                <li><a href="https://adalab.es/">ZAPATILLAS</a></li>
                <li><a href="https://adalab.es/">ROPA</a></li>
                <li><a href="https://adalab.es/">NIÑO/A</a></li>
                <li><a href="https://adalab.es/">DESTACADOS</a></li>
                <li><a href="https://adalab.es/">TIPS</a></li>
            </ul>
            <ul class="nav_social">
                <li><a href="https://adalab.es/">TWITTER</a></li>
                <li><a href="https://adalab.es/">INSTAGRAM</a></li>
                <li><a href="https://adalab.es/">YOUTUBE</a></li>
            </ul>

            <div class="copy">
                <p> &copy;2023</p>
                <p>we <span class="hearts">&hearts;</span>run</p>
            </div>
        </nav>
        
    
 
</footer>
<img src="" alt="">


