<footer class="footer">
    <a href="" class="button_arrow"><img class="button_arrow-image" src="./images/ico-arrow.svg" alt=""></a>
    <nav class="nav">
        <ul class="nav_content">
            <li>ZAPATILLAS</li>
            <li>ROPA</li>
            <li>NIÑO/A</li>
            <li>DESCTACADOS</li>
            <li>TIPS</li>
        </ul>
        <ul class="nav_social">
            <li>TWITTER</li>
            <li>INSTAGRAM</li>
            <li>YOUTUBE</li>
        </ul>
    </nav>

    <p> &copy;2023</p>
    <p>we <i class="fa-thin fa-heart"></i>run</p>
 
</footer>
<img src="" alt="">